@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #b3b3b3;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

p,
span {
  font-family: "Lora", serif;
}

/* dropdown menu - for all pages*/

.dropbtn {
  background-color: #bfedec;
  color: #fff;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50px;
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #faa89c;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #faa89c;
  border: none;
}

/* Home page - css*/

.nav-links {
  background-color: #000;
  color: #fff;
}

.ban-img {
  max-width: 50%;
}

/* Features page - css*/

.ban-nin {
  background-color: #bfedec;
}

.img-tools {
  margin: 0;
  text-align: center;
  width: 50%;
}

.card {
  background-color: #fff;
  border: 2px solid #000000;
  border-radius: 8px;
}

.tools {
  background-color: #faa89c;
}

/* Pricing page - css*/

/* Sign up page - css*/
