@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #b3b3b3;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

p,
span {
  font-family: "Lora", serif;
}

.nav-links {
  background-color: #fff;
  color: #000;
}

.ban-img {
  max-width: 50%;
}

.ban-nin {
  background-color: #bfedec;
}

.img-tools {
  margin: 0;
  text-align: center;
  width: 50%;
}

.card {
  background-color: #fff;
  border: 2px solid #000000;
  border-radius: 8px;
}

.tools {
  background-color: #faa89c;
}
